PORT=8080
NODE_ENV=development
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FOURSQUARE_API_KEY=
OPENTRIPMAP_API_KEY=
LOCATIONIQ_API_KEY=
GEMINI_API_KEY=AIzaSyDlrISh1OPhzdWrvjEYEtv9SCpokTT-bYk
